<div class='details' *ngIf='distro'>
	<h2>{{distro.name | uppercase}} details</h2>
	<div><span>Id: </span>{{distro.id}}</div>
	<div>
	  <label>Name:
		<input [(ngModel)]="distro.name" placeholder="name"/>
	  </label>
	</div>
	<div class='button-group'>
		<button (click)='goBack()'>Go back</button>
		<button (click)='save()'>Save</button>
	</div>
</div>