/* HeroDetailComponent's private CSS styles */
.details {
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
  width: fit-content;
  margin: 2em auto;
}
.details div {
  margin: 0 0.5em;
  font-size: 1.5em;
}
.details div span {
  color: #607d8b;
}
.button-group {
  display: flex;
  justify-content: space-around;
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0.5em;
  color: white;
  background-color: #456;
  padding: 1em 3em;
}
label {
  width: 3em;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 0.75em;
  padding-left: 0.4em;
  width: 70%;
}
button {
  font-size: 0.75em;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
