/* HeroesComponent's private CSS styles */
.distros {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.distros li {
  cursor: pointer;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.distros li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}

.distros a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.distros a:hover {
  color: #607d8b;
}

.distros .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.distros .name {
  position: relative;
  top: -3px;
}
button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 215px;
  top: -33px;
  background-color: gray !important;
  color: white;
}
.add {
  margin: 10px;
}
