<h2>My Distros</h2>
<ul class='distros'>
	<li *ngFor='let distro of distros'>
		<a routerLink='/detail/{{distro.id}}'>
			<span class='badge'>{{distro.id}}</span> <span class='name'>{{distro.name}}</span>
		</a>
		<button class='delete'
			tittle='Delete distro'
			(click)='delete(distro)'>
			X
		</button>
	</li>
</ul>

<div class='add'>
	<label>New distro: 
		<input #distroName/>
	</label>
	<button (click)='add(distroName.value); distroName.value=""'>
		Add
	</button>
</div>