<div class='tittle'>
	<h1>{{title}}</h1>
	<nav>
		<a routerLink='/dashboard'>Dashboard</a>
		<a routerLink='/distros'>Distros</a>
	</nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>