/* AppComponent's private CSS styles */
.tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 2.5em;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  font-size: 1.5em;
}
nav a:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid;
  border-right-color: #cfd8dc;
}
nav a:last-child {
  border-radius: 0 4px 4px 0;
}
nav a:visited,
a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

@media screen and (max-width: 600px) {
  .tittle {
    display: initial;
  }
  h1 {
    margin-bottom: 0;
  }
}
