<div>
	<h3><label for="search-box">Distro Search</label></h3>
  
	<input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
	<ul class="search-result">
	  <li *ngFor="let distro of distros$ | async" >
		<a routerLink="/detail/{{distro.id}}">
		  {{distro.name}}
		</a>
	  </li>
	</ul>
  </div>