<div *ngIf='messageService.messages.length' class='message'>
	<div>
		<h2>Messages</h2>
		<button class='clear'
				(click)='messageService.clear()'>Clear</button>
	</div>
	<div *ngFor='let message of messageService.messages'>{{message}}</div>
</div>