<h2>Top Distros</h2>
<div class="grid grid-pad">
	<a *ngFor='let distro of distros' class='col-1-4'
			routerLink='/detail/{{distro.id}}'>
		<div class='module'>
			<h2>{{distro.name}}</h2>
		</div>
	</a>
</div> 

<app-distro-search></app-distro-search>