/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");

h1 {
  font-family: "Playfair Display";
}
body {
  margin: 50px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 10px;
  }
}
